/* Colors used:
Primary Color (orange): #fc9569;
Secondary Color (blue): #88a8ec;
Pink: #ffd3ea;
Green: #d1ffe7;
Text Headers: #666666 
Text Body: #333333;
*/

/********** Top Navigation Bar **********/

.main-nav{
    background-color:transparent;
    color: #333;
}

.logo{
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    color: #333 !important;
    font-weight: 700;
    
}

.navbar-toggler{
    border: none !important;
}

.navbar-toggler-icon{
    color: #333;
    border-color: #333;
}
a.top-nav{
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #333;
    padding: 0 10px;
    
}

a.top-nav:hover{
    color: #fc9569 !important;
    text-decoration: underline;
    text-decoration-color: #fc9569;
    text-decoration-thickness: 0.2em;
    text-underline-offset: 1.5px;
  

}

a.top-nav:active{
    color: #fc9569;
    text-decoration: underline;
}

a.logo{
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: white;
    float: left;

}

a.logo:hover{
    color: #FDFF92;
    text-decoration: none;
    /* animation: bounce; 
    animation-duration: 1s;  */
}

.box{
    background-color: #FFFFFF;
    border-radius: 25px 25px 25px 25px;
    border-width: 2px;
    border-color: #333;
    padding-top: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    box-shadow: 10px 10px 0px 0px rgb(0 0 0 / 0%);
    transition: transform 300ms ease 0ms,box-shadow 300ms ease 0ms;
}

/********** Typography **********/

h1, h2, h3, h4 {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-weight: 700;
}

p{
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 1.125rem;
}

/******** Buttons ********/
.btn-primary{
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
    color: #333;
    padding: .3em 1em;
    background-color: #fc9569;
    border-width: 1px;
    border-color: #fc9569;
    border-radius: 30px;
}

.btn-primary:hover {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
    color: #fc9569 !important;
    padding: .3em 1em;
    background-color: white;
    border-width: 1px;
    border-color: #333;
    border-radius: 30px;
    transition: 
    transform 300ms ease 0ms,
    color 300ms ease 0ms,
    background-color 300ms ease 0ms,
    border 300ms ease 0ms,
    box-shadow 300ms ease 0ms;
}


/******** Spacing betweens sections ********/
#top-intro, #events, #contact, #about, #slack{
    padding-top: 100px;
}

.team-card{
    height: 500px;
}

.card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* 
.col-2-box{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
   
}

.intro{
    width:55%; */
/* 
}

.newsletter{
    width: 35%;
} */

/******** Next Events *******/

#events h2{
    margin-top: 20px;
    margin-bottom: 20px;
}

/* .events{
    min-height: 200px;
    background-color: whitesmoke;
    border-radius: 25px;
    border-width: 2px !important;
    border-color: #333333 !important;
    padding-top: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    box-shadow: 10px 10px 0px 0px rgb(0 0 0 / 0%);
    transition: transform 300ms ease 0ms,
    box-shadow 300ms ease 0ms;
    margin-bottom: 20px;

} */

/******** Mailchimp Signup ********/
#mc_embed_signup {
    width: 300px;
    font: 14px Helvetica, Arial, sans-seri    f;
}
				