/* Colors used:
Primary Color (orange): #fc9569;
Secondary Color (blue): #88a8ec;
Pink: #ffd3ea;
Green: #d1ffe7;
Text Headers: #666666 
Text Body: #333333;
*/

body{
    background-image: url(https://flamboyant-brahmagupta-403db5.netlify.app/img/bg.png);
}

html {
    scroll-behavior: smooth;
}

/********** Top Navigation Bar **********/

.main-nav{
    background-color:transparent;
    color: #333;
}

.logo{
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
    color: #333;
    font-weight: 700;
    text-decoration: none !important;
    
}

.navbar-toggler{
    border: none !important;
}

.navbar-toggler-icon{
    color: #333;
    border-color: #333;
}
a.top-nav{
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #333;
    padding: 0 10px;
}

a.top-nav:hover{
    color: #fc9569 !important;
    text-decoration: none;
    text-decoration-color: #fc9569;
    text-decoration-thickness: 0.2em;
    text-underline-offset: 1.5px;
}


a.top-nav:active{
    color: #fc9569;
    text-decoration: underline;
}



/********** Typography **********/

h1, h2, h3, h4, h5 {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-weight: 700;
}

p{
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 1.125rem;
}

/******** Buttons ********/
.btn-primary{
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
    color: #333;
    padding: .3em 1em;
    background-color: #fc9569;
    border-width: 1px;
    border-color: #fc9569;
    border-radius: 30px;
}

.btn-primary:hover {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
    color: #fc9569 !important;
    padding: .3em 1em;
    background-color: white;
    border-width: 1px;
    border-color: #333;
    border-radius: 30px;
    transition: 
    transform 300ms ease 0ms,
    color 300ms ease 0ms,
    background-color 300ms ease 0ms,
    border 300ms ease 0ms,
    box-shadow 300ms ease 0ms;
}

.btn-primary:active, .btn-primary:focus {
    background-color: #fc9569 !important;
    color: white !important;
}


/******** Intro + Newsletter ********/

.newsletter{ 
    background-color: aliceblue;
    border-radius: 10px;
    padding: 25px;
    box-shadow: 10px 10px 0px 0px rgb(0 0 0 / 0%);
    transition: transform 300ms ease 0ms,
    box-shadow 300ms ease 0ms;
}

.newsletter-p {
    font-size: 1rem;
}

div.mc-field-group input, div.mc-field-group { /*input field mailchimp*/
    border-radius: 20px;
    color: rgb(110, 110, 110);
    font-size: 14px;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;

}

input.button{ /* Mailchimp Subcribe Button */
    background-color: #fc9569;

}

input.button:hover {
    /* Mailchimp Subcribe Button */
    color: #fc9569;
}

div.mc-field-group input,
div.mc-field-group{
    width:100%;
}


/******** General ********/
#top-intro{
    padding-top: 100px;
}

#slack{
    margin-top: 20px;
    border-radius: 20px;
    border-width: 1px;
    background-color: #ffd3ea;
}

#contact{  
    border-radius: 20px;
    border-width: 1px;
    background-color: #d1ffe7;
    margin-bottom: 400px;
}

#about{
    border-radius: 20px;
    border-width: 1px;
    background-color: aliceblue;
}

img .card-img-top{
    border-radius: 20px;
}

/********  Events *******/

#events h2{
    margin-top: 20px;
    margin-bottom: 20px;
}

.card{
    border-radius: 20px;
}

.when{
    font-weight: bold;
}

#team.card-text{
    font-size: 0.9rem;
}

 #team .card-text {
    font-size: 0.95rem;
 }

 #team .btn-primary{
     font-size: 0.9rem;
 }


 /****** Animation ******/

 .elevation:hover{
    transform: translate(-5px, -5px);
    box-shadow: 10px 10px 0px 0px rgb(0, 0, 0, 0.3);
    transition: transform 300ms ease-in-out 0ms, box-shadow 300ms ease-in-out 0ms;
 }

 /******** Footer ********/

 .imprint{
    background-color: #88a8ec;
 }

 .imprint h6{
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: white;
    padding: 0 10px;
 }

 .imprint h6:hover {
     color: #333;
}

.imprint h6:active {
     color: #333;
}

/********** Media Queries **********/


/* ==============================
Medium devices // Bigger than iPad (768px and smaller)
================================= */
@media only screen and (min-width: 768px) {


    #events, #slack, #about, #contact{
        margin-top: 100px;
    }

    #team .card{
        min-height: 450px;
    }


}
/* ==============================
Big devices // Bigger than iPad (1024px and smaller)
================================= */
@media only screen and (min-width: 1024px) {

    #top-intro h2 {
        font-size: 50px;
    }

    #top-intro h4 {
        font-size: 31px;
    }

    .newsletter-p {
        font-size: 1rem;
    }

    .description {
        font-size: 22px;
    }

    #team .card-text{
        font-size: 1rem;
    }

}